:root{

    --mainColor:#8854C0;
    --lightColor:#EFE5FF;
    --secondaryColor:#F2F2F2;
    --thirdColor: #5D2057;
}
/* font-family: "Quicksand", sans-serif !important;
    font-family: "Poppins", sans-serif !important; */
body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}